.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

h2 {
    color: #333;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.formGroup label {
    margin-bottom: 5px;
    font-weight: bold;
}

.formGroup input, .formGroup select {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.2s;
}

.formGroup input:focus, .formGroup select:focus {
    border-color: #007bff;
}

.error {
    color: red;
    margin-top: 10px;
}
.checkbox {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.checkbox input {
    width: 20px;
}
