body {
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    padding: 10px;
    background-color: #f4f4f4
}

nav a {
    padding: 3px;
    color: black;
    text-decoration-line: none;
}
nav a:hover {
    text-decoration-line: underline;
}

form {

    padding-top: 20px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, select {
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

input[type="number"] {
    width: 100%;
}

h2 {
    grid-column: 1 / -1;
}

p {
    grid-column: 1 / -1;
    font-size: 1.1rem;
}